div
    h3.company.highlight.
        University of Something
    div.location.
        City, PROV
div
    h4.degree.
        Bachelor of Program
    div.date.
        September 1999 - April 2001
ul
    li.
        B.Prog, Honours Something