div.inline.col-1
    h3.company.highlight.
        University of Something
    div.location.
        City, PROV
    div.date.
        Sept 1999 - Apr 2001
div.inline.col-2
    h4.degree.
        Bachelor of Progaram
    ul
        li.
            B.Prog, Honours Something